@import "src/public/styles/bootstrap/_bootstrap-variables";
@import 'src/public/styles/_app-variables';

.header {
  box-shadow: $box-shadow;
  background: $gray-lighter;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  margin-bottom: 50px;

  & a.logo {
    text-decoration: none;
    box-shadow: $box-shadow;
    border-radius: (75px/2);
    width: 75px;
    height: 75px;
    display: block;
    position: absolute;
    bottom: -28px;
  }
}