<div class="header container-fluid box-shadow">
    <div class="container">
        <div class="row">
            <div class="col">
                <a routerLink="/" class="logo" title="Home"><img src="./img/whiteboard.svg" alt="Logo"></a>
                <a *ngIf="!isLoggedIn" routerLink="/login" class="btn btn-link float-right" routerLinkActive="active">Вход</a>
                <button *ngIf="isLoggedIn" class="btn btn-link float-right" (click)="getLogout()">Выход</button>
                <a routerLink="/register" class="btn btn-success float-right" routerLinkActive="active">Регистрация</a>
            </div>
        </div>
    </div>
</div>