@import "src/public/styles/bootstrap/_bootstrap-variables";
@import 'src/public/styles/_app-variables';

$avatar_size: 38px;

.header {
  box-shadow: $box-shadow;
  background: $gray-lighter;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;

  .logo {
    text-decoration: none;
    box-shadow: $box-shadow;
    border-radius: (75px/2);
    width: 75px;
    height: 75px;
    display: block;
    position: absolute;
    bottom: -28px;
    z-index: 1000;
  }

  .header-avatar {
    width: $avatar_size;
    height: $avatar_size;
    background: #fff;
    border-radius: $avatar_size / 2;
    overflow: hidden;
  }
}