@import "~bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss";
@import 'src/public/styles/bootstrap-variables.scss';
@import 'src/public/styles/app-variables.scss';

.header {
  box-shadow: $box-shadow;
  background: $gray-lighter;
  padding-top: 10px;
  padding-bottom: 10px;

  & a.logo {
    text-decoration: none;

    & > span {
      color: $logo-bg;
      font-size: 45px;
      line-height: 45px;

      &.logo-text {
        font-size: 3.9rem;
      }
    }
  }
}