<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-8 col-lg-6 mx-auto">
            <h2 class="text-center">Забыл пароль</h2>
            <div *ngIf="getSuccessMessage()" class="alert alert-success">Письмо с подтверждением о смене пароля отправлено на Ваш email</div>
            <form class="form-horizontal" (keyup)="onKeyUp($event)" [formGroup]="formForgotPassword" (ngSubmit)="onSubmit()">
                <div class="form-group" [ngClass]="{ 'has-danger': isInvalid('email'), 'has-success': isValid('email') }">
                    <label class="form-control-label" for="email">Ваш email*</label>
                    <input type="email" formControlName="email" class="form-control" id="email" placeholder="Ваш email">
                    <div class="alert alert-danger" *ngIf="isInvalid('email')">
                        <p *ngFor="let error of getInvalidFields('email')" class="form-text">{{ error }}</p>
                    </div>
                </div>
                <div formGroupName="passwords">
                    <div class="form-group" [ngClass]="{ 'has-danger': isInvalid('passwords.new_password', 'passwords'), 'has-success': isValid('passwords.new_password') }">
                        <label class="form-control-label" for="new_password">Новый пароль*</label>
                        <div class="input-container">
                            <span class="eye" [ngClass]="{ 'active': isShowPwd(new_password) }" (click)="showPwd(new_password)"></span>
                            <input #new_password type="password" formControlName="new_password" class="form-control" id="new_password" placeholder="Пароль">
                        </div>
                        <div class="alert alert-danger" *ngIf="isInvalid('passwords.new_password', 'passwords')">
                            <span *ngFor="let error of getInvalidFields('passwords.new_password', 'passwords')" class="form-text">{{ error }}</span>
                        </div>
                    </div>
                    <div class="form-group" [ngClass]="{ 'has-danger': isInvalid('passwords.confirm_password'), 'has-success': isValid('passwords.confirm_password') }">
                        <label class="form-control-label" for="confirm_password">Повторите новый пароль*</label>
                        <div class="input-container">
                            <span class="eye" [ngClass]="{ 'active': isShowPwd(confirm_password) }" (click)="showPwd(confirm_password)"></span>
                            <input #confirm_password type="password" formControlName="confirm_password" class="form-control" id="confirm_password" placeholder="Повторите новый пароль">
                        </div>
                        <div class="alert alert-danger" *ngIf="isInvalid('passwords.confirm_password')">
                            <span *ngFor="let error of getInvalidFields('passwords.confirm_password')" class="form-text">{{ error }}</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <button
                            type="submit"
                            class="btn btn-primary"
                            [disabled]="getIsSending()"
                        >{{ getButtonText('Сменить пароль') }}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>