<!doctype html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Смена email адреса</title>
        <style>
            h1 { text-align: center; }
            p { text-align: center; }
            p a { color: #558bbd; }
        </style>
    </head>
    <body>
        <h1>Смена email адреса</h1>
        <p>Ваш email адрес был изменен на другой: <a href="mailto:<%= newEmail %>"><%= newEmail %></a></p>
    </body>
</html>