<!doctype html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Регистрация пользователя</title>
        <style>
            h1 { text-align: center; }
            p { text-align: center; }
            a {
                text-align: center;
                text-decoration: none;
                padding: 10px;
                background: #159ccf;
                display: block;
                margin: 0 auto;
                font-weight: bold;
                border-radius: 3px;
                width: 200px;
                color: #fff;
                text-transform: uppercase;
            }
        </style>
    </head>
    <body>
        <h1>Регистрация пользователя</h1>
        <p>Пожалуйста подтвердите регистрацию</p>
        <a href="<%= url %>">Подтвердить</a>
    </body>
</html>