@import 'src/public/styles/bootstrap/_bootstrap-variables';
@import 'src/public/styles/_app-variables';

h1 {
  font-size: $font-size;
  color: #fff;
  background: $brand-danger;
}

p {
  background: grey;
  color: $brand-success;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #000;

  &:hover {
    text-decoration: underline;
  }
}



