@import 'src/public/styles/bootstrap/_bootstrap-variables';
@import 'src/public/styles/_app-variables';

h1 {
  font-size: $font-size;
  color: #fff;
  background: $brand-danger;
}

#wrapper {
    position: relative;
}