.avatar {
  img {
    height: 200px;
    width: 200px;
    margin-bottom: 20px;
  }
}

.me-info {
  margin-bottom: 2px;

  .label-info {
    width: 120px;
    color: #aba7a7;
  }

  div {
    float: left;
  }
}

