<form class="form-horizontal" [formGroup]="formForgotPassword" (ngSubmit)="onSubmit()">
    <div class="form-group" [ngClass]="{ 'has-danger': isInvalid(getFormControl('current_password')), 'has-success': isValid(getFormControl('current_password')) }">
        <label class="form-control-label" for="current_password">Старый пароль*</label>
        <div>
            <input type="password" formControlName="current_password" class="form-control" id="current_password" placeholder="Пароль">
            <div class="alert alert-danger" *ngIf="isInvalid(getFormControl('current_password'))">
                <span *ngFor="let error of getInvalidFields(getFormControl('current_password'))" class="form-text">{{ error }}</span>
            </div>
        </div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-danger': isInvalid(getFormControl('new_password')), 'has-success': isValid(getFormControl('new_password')) }">
        <label class="form-control-label" for="new_password">Новый пароль*</label>
        <div>
            <input type="password" formControlName="new_password" class="form-control" id="new_password" placeholder="Пароль">
            <div class="alert alert-danger" *ngIf="isInvalid(getFormControl('new_password'))">
                <span *ngFor="let error of getInvalidFields(getFormControl('new_password'))" class="form-text">{{ error }}</span>
            </div>
        </div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-danger': isInvalid(getFormControl('confirm_password')), 'has-success': isValid(getFormControl('confirm_password')) }">
        <label class="form-control-label" for="confirm_password">Повторите новый пароль*</label>
        <div>
            <input type="password" formControlName="confirm_password" class="form-control" id="confirm_password" placeholder="Пароль">
            <div class="alert alert-danger" *ngIf="isInvalid(getFormControl('confirm_password'))">
                <span *ngFor="let error of getInvalidFields(getFormControl('confirm_password'))" class="form-text">{{ error }}</span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div>
            <button type="submit" class="btn btn-primary" [disabled]="formForgotPassword.invalid">Сменить пароль</button>
            <a routerLink="/me" class="btn btn-secondary">Назад</a>
        </div>
    </div>
</form>
